@model MovieFan.Models.Users

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Détails concernant @Model.Firstname @Model.Lastname</h4>
    <hr />
    <div class="row">
        @(Model.IsAdministrator ? "Est un administrateur" : "N'est pas un administrateur")
    </div>
</div>
<hr />
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
