@model MovieFan.Models.Users

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <div>
            <h4>Détails concernant @Model.Firstname @Model.Lastname</h4>
            <hr />
            <div class="row">
                @(Model.IsAdministrator ? "Est un administrateur" : "N'est pas un administrateur")
            </div>
            <hr />
        </div>
        @await Html.PartialAsync("_MyMovies", Model)
    </div>
<hr />
<div>
    <a asp-action="ManageMovies" asp-route-id="@Model.Id" class="btn btn-sm btn-primary ml-5">Gérer les films</a>
    <a asp-action="Index" class="btn btn-sm btn-info ml-3">Retour à la liste</a>
</div>
