@model List<User>
@{
    ViewData["Title"] = "Membres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <h1>Liste des membres</h1>
        @foreach (User user in Model)
        {
            <a href="/User/Details/@user.Id">
                <div class="row border p-3">
                    @user.Firstname @user.Lastname
                </div>
            </a>
        }
    </div>

