@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur MovieFan</h1>
    <h3>L'actu:</h3>
    <div class="row border">
        <div class="col-2 text-right p-3">25 Mars 2020</div>
        <div class="col-10 text-left p-3">Soirée Star Wars</div>
    </div>
    <div class="row border">
        <div class="col-2 text-right p-3">30 Mars 2020</div>
        <div class="col-10 text-left p-3">Soirée Batman</div>
    </div>
    <div class="row border">
        <div class="col-2 text-right p-3">4 Avril 2020</div>
        <div class="col-10 text-left p-3">Soirée 'Les frères Cohen'</div>
    </div>
</div>
