@model List<Movie>
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Liste des films</h1>
    @foreach (Movie movie in Model)
    {
        <a href="/Movie/Details/@movie.Id">
            <div class="row border p-3">
                @movie.Title
            </div>
        </a>
    }
</div>

