@model List<Movies>
@{
    ViewData["Title"] = "Films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Liste des films</h1>
    <div class="form-group row">
        <label for="CategoryId" class="control-label col-2">Catégorie</label>
        <select id="CategoryId" name="CategoryId" asp-items="ViewBag.Categories" class="form-control col-6"></select>
    </div>
    @foreach (Movies movie in Model)
    {
        <a href="/Movie/Details/@movie.Id">
            <div class="row border p-3">
                <img class="col-1" src="~/assets/pictures/@movie.Picture" />
                <div class="col-4">@movie.Title</div>
                <div class="col-2">@movie.Category.Name</div>
                <div class="col-2">@movie.Rating.Name</div>
            </div>
        </a>
    }

    <a asp-action="Create" class="btn btn-sm btn-success m-3">Nouveau film</a>

</div>

